name: Buildon

on:
  workflow_dispatch:
    inputs:
      package_name: com.gear2.letsgolegends
        description: com.gear2.letsgolegends  
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 11
        cache: gradle
        
    - run: |
        chmod +x ./gradlew
        # Mengubah deskripsi modul
        sed -i 's/moduleDescription = "/moduleDescription = "(${{ github.event.inputs.package_name }}) /g' module.gradle
        # Mengubah nama paket dalam header C++
        sed -i "s/com.game.packagename/${{ github.event.inputs.package_name }}/g" module/src/main/cpp/game.h
        ./gradlew :module:assembleRelease
        
    - uses: actions/upload-artifact@v4 # <--- Baris ini yang Diperbaiki
      with:
        name: zygisk-il2cppdumper
        path: out/magisk_module_release/
